/*
Author: Eternal Second Designs
*/

/* Begin Typography & Colors */

body {
  font-size: 14px;
  /* Resets 1em to 10px */
  font-family: "Lucida Grande", Verdana, Arial, Sans-Serif;
  background: #282c45 url("./images/outer_background.png");
  color: #282c45;
  text-align: center;
}

a,
a:visited,
a:link,
a:active,
a:hover {
  text-decoration: underline;
  color: #2d3285;
}

a:visited,
a:hover,
a:active {
  color: #339;
}

a:hover {
  text-decoration: none;
}

#page {
  background: #fff2e1 url("./images/inner_background.png");
  border: 1px solid #959596;
  text-align: left;
  margin: 20px auto;
  padding: 3px;
  width: 802px;
}

.right {
  float: right;
}

.left {
  float: left;
}

#buyNow {
  margin: 5px 0 0 10px;
  background: url("./images/BuyTheBook.png") no-repeat;
  width: 185px;
  height: 282px;
}

#buyNow a {
  padding: 58px 18px 10px 10px;
  width: 157px;
  height: 213px;
  display: block;
}

#header {
  background: url("./images/header.jpg") no-repeat bottom center;
  text-indent: -9000px;
}

#headerimg {
  margin: 7px 9px 0;
  height: 220px;
  width: 794px;
}

#header a,
#header {
  font-size: 0;
}

#content {
  font-size: 1.1em;
  width: 786px;
}

#content p {
  text-indent: 1em;
  line-height: 1.5em;
  margin: 1em 0 0em 0;
}

#content p.links {
  text-indent: 0;
}

.narrowcolumn .entry {
  line-height: 1.2em;
}

.even,
.alt {
  border-left: 1px solid #ddd;
}

#footer {
  background: #282c45;
  border: none;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 4em;
  text-align: center;
}

#headerimg .description {
  text-indent: -9000px;
  text-align: center;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h2,
h2 a,
h2 a:visited,
h3,
h3 a,
h3 a:visited {
  color: #333;
}

h2,
h2 a,
h2 a:hover,
h2 a:visited,
h3,
h3 a,
h3 a:hover,
h3 a:visited,
cite {
  text-decoration: none;
}

#content div.picture {
  border: solid 1px #a1957f;
  text-align: center;
  padding: 5px 5px 0 5px;
}

#content div.picture span {
  font-weight: bold;
  clear: both;
  color: #5f5a53;
  float: left;
  margin: 5px auto 0;
  text-align: center;
  display: block;
  width: 100%;
}

.picture.left {
  margin-right: 1em;
}

.picture.right {
  margin-left: 1em;
}

.focus {
  background: #cabeae;
  border: solid 1px #a1957f;
  padding: 0.7em;
}

#comments {
  padding-top: 5px;
  border-top: #5f5a53 1px solid;
  clear: both;
  text-transform: capitalize;
}

/* End Typography & Colors */

/* Begin Structure */

body {
  margin: 0 0 20px 0;
  padding: 0;
}

.narrowcolumn {
  float: right;
  margin: 0 10px 0 0;
  padding: 0;
  width: 610px;
}

.post {
  margin: 0 0 1.5em;
  text-align: left;
  clear: left;
  border-bottom: 1px solid #2d3285;
}

.post hr {
  display: block;
}

#post-121,
#post-219 {
  border: none;
}

.clear {
  clear: both;
}

#footer {
  padding: 0;
  margin: 0 auto;
  width: 800px;
  clear: both;
}

#footer p {
  margin: 5px;
  text-align: center;
  color: #f6d2ad;
}

#footer a {
  color: white;
  text-decoration: underline;
}

#footer br.clear {
  height: 1px;
  display: block;
}

#footer #rss {
  margin: 5px;
  width: 170px;
  font-size: 0.9em;
}

#footer #rss a {
  text-decoration: none;
}

/* End Structure */

/*	Begin Headers */

h1 {
  padding-top: 70px;
  margin: 0;
}

h2 {
  margin: 5px 0 0;
}

h3 {
  padding: 0;
  margin: 15px 0 0;
}

h3.center {
  margin: 15px 0;
}

h3.comments {
  padding: 0;
  margin: 40px auto 20px;
}

/* End Headers */

/* Begin Images */

p img {
  padding: 0;
  max-width: 100%;
}

/*	Using 'class="alignright"' on an image will (who would've
	thought?!) align the image to the right. And using 'class="centered',	will of course center the image. This is much better than using
	align="center", being much more futureproof (and valid) */

img.alignright {
  padding: 4px;
  margin: 0 0 2px 7px;
  display: inline;
}

img.alignleft {
  padding: 4px;
  margin: 0 7px 2px 0;
  display: inline;
}

.alignright {
  float: right;
}

.alignleft {
  float: left;
}

/* End Images */

/* Begin Lists

	Special stylized non-IE bullets
	Do not work in Internet Explorer, which merely default to normal bullets. */

html > body .entry ul {
  margin-left: 0px;
  padding: 0 0 0 10px;
}

html > body .entry li {
  margin: 7px 0 8px 10px;
}

.alt {
  margin: 0;
  padding: 10px;
}

/* Begin Various Tags & Classes */

.center {
  text-align: center;
}

.screen-reader-text {
  position: absolute;
  left: -1000em;
}

hr {
  display: none;
}

hr.w34 {
  width: 75%;
  margin: 0 auto;
}

a img {
  border: none;
}

/* End Various Tags & Classes*/

/* Captions */

.wp-caption {
  border: 3px solid #cabeae;
  border-bottom: 0px;
  text-align: center;
  background-color: #cabeae;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none;
}

#content .wp-caption p.wp-caption-text {
  font-size: 0.9em;
  line-height: 1.2em;
  padding: 0 4px 5px;
  margin: 1em;
  text-indent: 0;
}

/* End captions */

.books {
  border: 3px solid #c1a78e;
  background: transparent;
  color: #333;
  margin: 1em 0;
  overflow: hidden;
  padding: 0.5em;
}

.book-type {
  margin: 0;
  font-size: 1.5em;
}

.price {
  margin: 0.5em 0;
  font-size: 1.3em;
}

a.rss:before {
  background: transparent url(./images/sprite.png) -60px 4px no-repeat;
  content: " ";
  display: inline-block;
  height: 16px;
  line-height: 18px;
  margin-left: 4px;
  width: 16px;
}

a[href$=".pdf"]:after {
  background: transparent url(./images/sprite.png) -20px 0 no-repeat;
  content: " ";
  display: inline-block;
  height: 16px;
  line-height: 18px;
  margin-left: 4px;
  width: 16px;
}

a[href$=".jpg"]:after,
a[href$=".jpeg"]:after,
a[href$=".gif"]:after,
a[href$=".png"]:after,
a.img:after {
  background: transparent url(./images/sprite.png) -40px 0 no-repeat;
  content: " ";
  display: inline-block;
  height: 16px;
  line-height: 18px;
  margin-left: 4px;
  width: 16px;
}

.read-now {
  font-weight: bold;
  font-size: 1.2em;
  margin-left: 5px;
  padding: 5px;
  background: #cabeae;
  border: 1px solid #282c45;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.3em;
  opacity: 0.7;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  margin-top: 5px;
  width: 390px;
  text-align: center;
  margin-bottom: 15px;
}

.shadebox {
  background-color: #f3e2ca;
  padding: 1em;
  text-align: justify;
  width: 61%;
  margin-top: 1em;
}

#santafe {
  clear: right;
  min-height: 88px;
  margin: 0 0 0 5px;
  padding: 5px;
  text-align: center;
  width: 174px;
}

#santafe h3 {
  font-weight: normal;
  font-size: 10pt;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 5px;
}

.read-now {
  background: url("./images/bkgnd-subscribe.png") repeat scroll 0 0 transparent;
  opacity: 0.9;
}

.read-now a,
.read-now a:hover,
.read-now a:visited,
.read-now a:link,
.read-now a:active {
  color: white;
}
